<html lang="es">
  <%- include('../partials/head' ) %>
  <body>
    <!--Cabezera-->
    <%- include('../partials/header') %>
<main>
  <h2>Editar Producto: <%= prodFound.title %></h2>
  <form method="post" action="/productos/edit/<%= prodFound.id %>?_method=PUT" >
    
    <label for="title">Título del Producto:</label>
    <input type="text" id="title" name="title" required>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required>

    <label for="decorated">Decorado:</label>
    <input type="text" id="decorated" name="decorated" required>

    <label for="colorDecorated">Color del Decorado:</label>
    <input type="text" id="colorDecorated" name="colorDecorated" required>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required min="0">

   <!-- <label for="images">Imagen del Producto:</label>
    <input type="file" id="images" name="images" accept="image/*" >
    -->


      <button type="submit">Agregar Producto</button>
  </form>
</main>