<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
  </head>
  <body>
<header>
<!--Barra crear cuenta iniciar sesion-->
<div class="barra-sesion">
  <div>
    <a href="/login">Iniciar Sesion</a>
    <a href="/register">Registrarse</a>
  </div>
</div>
<!--Barra de inicio y demas-->
<div>
<div>
  <img src="/images/logo_tienda_de_bordado.jpg" alt="Tienda de Bordado" />
</div>
<div>
  <a href="/">Inicio</a>
  <a href="/about">Quienes somos</a>
  <a href="/products">Productos</a>
  <a href="/contact">Contacto</a>
  <h2>barra de busqueda</h2>
</div>
</div>
</header>
<main>
  <!--Seccion de carrito -->
<div class="producto-1-ejemplo">
<div>
  <img src="/images/productos_ejemplos/imagen_5.jpg" />
</div>
<div>
  <p>Descripcion del producto</p>
</div>
<div>
  <p>Precio</p>
</div>
<div>
  <p>icono de tacho de basura</p>
</div>
</div>
<div class="producto-2-ejemplo">
  <div>
    <img src="/images/productos_ejemplos/imagen_2.jpg" />
  </div>
  <div>
    <p>Descripcion del producto</p>
  </div>
  <div>
    <p>Precio</p>
  </div>
  <div>
    <p>icono de tacho de basura</p>
  </div>
  </div>
  <div>
    <p>boton agregar</p>
  </div>
</main>
<footer>
  <h2>Metodos de pago</h2>
</footer>
  </body>
</html>