<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda de Bordado</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--Cabezera-->
<header>

  <a href="/">Inicio</a>
  <a href="/productos">Productos</a>
  <a href="/Carrito">Carrito de compras</a>


</header>
<main>
<!--Logo tienda de bordado-->
<div>

<img src="/images/logo_tienda_de_bordado.jpg" alt="Tienda de Bordado" />

</div>
<!--carrusel de productos-->
<div>
  <img src="/images/productos_ejemplos/imagen_1.jpg" />
  <img src="/images/productos_ejemplos/imagen_2.jpg" />
  <img src="/images/productos_ejemplos/imagen_3.jpg" />
  <img src="/images/productos_ejemplos/imagen_4.jpg" />
  <img src="/images/productos_ejemplos/imagen_5.jpg" />
</div>
</main>
<footer>

</footer>
  </body>
</html>