<html lang="es">
  <%- include('./partials/head' ), {
    title : "Home"
}%>
  <body>
    <!--Cabezera-->
    <%- include('./partials/header') %>
<main>
<!--Logo tienda de bordado-->
<div class="logo-tienda">

<img src="/images/logo_tienda_de_bordado.jpg" alt="Tienda de Bordado" />

</div>
<!--carrusel de productos-->
<div class="carrusel">
  <img src="/images/productos_ejemplos/imagen_1.jpg" />
  <img src="/images/productos_ejemplos/imagen_2.jpg" />
  <img src="/images/productos_ejemplos/imagen_3.jpg" />
  <img src="/images/productos_ejemplos/imagen_4.jpg" />
  <img src="/images/productos_ejemplos/imagen_5.jpg" />
</div>
<!--Productos destacados-->
<h2>Destacados</h2>
<div class="productos-destacados">
  <img src="/images/productos_ejemplos/imagen_1.jpg" />
  <img src="/images/productos_ejemplos/imagen_2.jpg" />
  <img src="/images/productos_ejemplos/imagen_3.jpg" />
  <img src="/images/productos_ejemplos/imagen_4.jpg" />
  <img src="/images/productos_ejemplos/imagen_5.jpg" />
</div>
<a href="/productos">Ver todos los productos</a>
</main>
<footer>
<!--Redes sociales-->
<div class="redes-sociales">
<h2>Seguinos!!</h2>
<h3>logo facebook</h3>
<h3>logo instagram</h3>
</div>
<!--metodos de pago-->
<h2>Metodos de pago</h2>

</footer>
  </body>
</html>