<html lang="es">
  <%- include('./partials/head' ), {
    title : "productos"
}%>
  <body>
<!--Cabezera-->
<%- include('./partials/header') %>
<main>
<!--Logo tienda de bordado-->
<div>

  <img src="/images/logo_tienda_de_bordado.jpg" alt="Tienda de Bordado" />
  
  </div>
</main>
  </body>
</html>