<!DOCTYPE html>
<html lang="es">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!--Cabezera-->
    <%- include('./partials/header') %>
<main>
<!--Logo tienda de bordado-->
<div class="logo-tienda">

<img src="/images/logo_tienda_de_bordado.png" alt="Tienda de Bordado" />

</div>
<!--carrusel de productos-->
<div class="carrusel-container">
    <button id="prevBtn">❮</button>
    <div class="carrusel">
      <div class="grupo">
        <img src="/images/products/imagen_1.jpg" />
        <img src="/images/products/imagen_2.jpg" />
        <img src="/images/products/imagen_3.jpg" />
        </div>
        <div class="grupo">
        <img src="/images/products/imagen_4.jpg" />
        <img src="/images/products/imagen_5.jpg" />
        <img src="/images/products/imagen_6.png" />
        </div>
        <div class="grupo">
        <img src="/images/products/imagen_7.png" />
        <img src="/images/products/imagen_8.png" />
        <img src="/images/products/imagen_9.png" />
        </div>
    </div>
    <button id="nextBtn">❯</button>
</div>

<!--Productos destacados-->
<!--
<h2>Destacados</h2>
<div class="productos-destacados">
  <img src="/images/productos_ejemplos/imagen_1.jpg" />
  
  <img src="/images/productos_ejemplos/imagen_2.jpg" />
  <img src="/images/productos_ejemplos/imagen_3.jpg" />
  <img src="/images/productos_ejemplos/imagen_4.jpg" />
  <img src="/images/productos_ejemplos/imagen_5.jpg" />
  
</div>
-->
<a href="/productos">Ver todos los productos</a>


</main>
<footer>
<!--Redes sociales-->
<div class="redes-sociales">
<h2>Seguinos!!</h2>
<a href="https://www.instagram.com/tiendadebordado?igsh=NWN1MGNtNmpvN2l5">Instagram</a>
<a href="https://www.facebook.com/share/1BsYo9eJEt/?mibextid=qi2Omg">Facebook</a>
</div>


<script src="/js/front-functions/carrusel.js"></script>
</footer>
  </body>
</html>

